
:root {
  --common-primary: #0f1a33;
  --common-secondary: #4a90e2;

  --common-background: #ffffff;
  --common-text: #333333;
  --common-heading: #b02e12;

  --common-link: #1a0dab;
  --common-link-hover: #d32f2f;
  --common-link-active: #0d47a1;
}
