
:root {
  --common-primary: #0f1a33;
  --common-secondary: #4a90e2;

  --common-background: #ffffff;
  --common-text: #333333;
  --common-heading: #b02e12;

  --common-link: #02060C99;
  --common-link-hover: #d32f2f;
  --common-link-active: #a371b3;
  --common-theme-color: #a371b3
}
