@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "./_colors";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--common-background);
  color: var(--common-text);
}

a {
  text-decoration: none;
  color: var(--common-link);
  font-weight: 500;
  font-size: 16px;

  &:hover {
    color: var(--common-link-hover);
  }

  &.active {
    color: var(--common-link-active);
    font-weight: 600;
  }
}

img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover; /* Optional: crop/scale image nicely */
}
